.history {
    display: block;
    padding: 0 6px 6px;
    width: 307px;
    height: 464px;
    background-color: #000;
    border-radius: .5rem;
}

.history-header {
    text-align: right;
    padding: 1rem .6rem 0;
    max-width: 294px;
    min-height: 90px;
    height: auto;
    word-wrap: break-word;
    color: #fff;
    font-size: 3rem;
    transition: font-size .5s;
}

.history-body {
    color: #fff;
    text-align: right;
    padding: 1rem 6px;
    overflow: auto;
    max-height: 350px;
}

.history-equation {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.history-equation span:first-child {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.history-equation span:last-child {
    max-width: 200px;
    font-size: 1rem;
    word-wrap: break-word;
}