.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calculator {
    display: block;
    padding: 0 6px 6px;
    width: max-content;
    height: max-content;
    background-color: #000;
    border-radius: .5rem;
}

.calculator-header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: .6rem;
    height: 90px;
    color: #fff;
    font-size: 3rem;
}

.calculator-body {
    display: grid;
}

.calculator-body .row-ac {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.calculator-body .grid-numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-start: 2;
}

.calculator-body .col-operators {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
}