@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #505050;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;   
}

button { 
    cursor: pointer;
}

.bg-warning { 
    background-color: #fe9505; 
}

.bg-dark { 
    background-color: #333333; 
}

.bg-gray { 
    background-color: #a5a5a5; 
}

.text-dark { 
    color: #000; 
}

.text-white { 
    color: #fff; 
}